<h1 mat-dialog-title>Edit Menu</h1>

<div mat-dialog-content>
  <div>
    <mat-form-field>
      <input matInput [(ngModel)]="data.title" placeholder="Title" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Menu Id</mat-label>
      <mat-select [(ngModel)]="data.menu_id">
        <mat-option *ngFor="let menu of data.menuList" [value]="menu.id">
          {{menu.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field>
      <input matInput [(ngModel)]="data.content" placeholder="URL" required>
    </mat-form-field>

  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="data" color="primary">Update</button>
  <button mat-raised-button mat-dialog-close="false" cdkFocusInitial>Cancel</button>
</div>