<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/">Java Monks Blog</span>
    <span class="example-spacer"></span>
    <div *ngFor="let menu of menuList">
      <button mat-button routerLink="/home/pages/{{menu.url}}">{{menu.title}}</button>
    </div>
    <button mat-button routerLink="/home/article">Pro Blog</button>
    <div *ngIf="!user">
      <button mat-icon-button (click)="afService.loginWithGogle()"><mat-icon>input</mat-icon></button>
    </div>



    <div *ngIf="user">
      <button mat-button [matMenuTriggerFor]="menu">
        <span>Hello {{user.displayName}}</span>
        <img class="profileImg" [src]="user.photoURL">
      </button>
      <mat-menu #menu="matMenu">
  
        <button mat-menu-item (click)="afService.logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>